html, body {
    height: 100%;
	margin: 0;
	padding: 0;
    font-family: Arial,sans-serif;
}


#map-canvas {
    box-shadow: -1px -1px 5px 1px gray; 
	margin: 10px 5px 10px 10px;
    right: 0;
    left: 0px;
    position: absolute;
    bottom: 35px;
	top: 0;
}

#distance-offset {
    margin: 5px 0 0px 15px;
    right: 0;
    left: 0px;
    position: absolute;
    bottom: 0px;
	height: 35px;
}

#left-panel {
	width: 240px;
	margin: 5px  5px 10px 5px ;
	padding: 0 5px 0 0;
	position: absolute;
	bottom: 35px;
	top: 0px;
	display: block;
	overflow: auto;

	table {
		border-right: solid 0px;
		border-top: solid 0px;

		td, th {
		height: 20px;
		border-top: solid 1px #9ab;
		border-left: solid 0px #9ab;
		border-bottom: solid 0px #9ab;
		}

		td {
			font-family: monospace;
			text-align: right;
		} 
	}
}

#right-panel{
	float:right;
	position: absolute;
	left: 250px;
	top: 0;
	bottom: 35px;
	right: 0;
	min-width: 270px;
}

.panel {
	position: relative;
	background-image: linear-gradient(#999 20px,  #fff 35px, #eee 40px, #dddddd 85%, #dfdfdf 90%, #eee 100%);
	background-color: #eee;
	box-shadow: inset 0px -1px 1px 0px #999;
	border-radius: 5px 5px 3px 3px;
	border: solid;
	border-width: 0 0 1px 0;
	padding: 5px;
	margin: 0 0 10px 0;
}

.panel-header{
	background-image: linear-gradient(#43affe 0%,  #067ed5 100%);
	background-color: #067ed5;
	box-shadow: inset 0px 1px 1px 0px #afe6ff;
	border: solid 1px;
	border-radius: 5px 5px 0 0 ;
	margin: -5px -5px 5px -5px;
}

.panel-header-text {
	color: white;
	margin: 2px 5px 2px 5px;
	
}
#footer {
    margin: -35px 0px 0 0px;
	width: 100%;
    height: 35px;
	position:absolute;
	bottom: 0px;
}

.button{
	color: white;
	border-radius: 5px;
	border: solid 1px #067ed5;
	padding: 2px 10px;
	background-image: linear-gradient(#43affe 0%,  #067ed5 100%);
	background-color: #067ed5;
	box-shadow: inset 0px 1px 2px 0px #ffeeff;
	text-decoration:none;
}
.button:hover {  
    background-image: linear-gradient(#53bffe 0%,  #169ed5 100%); 
    background-color: #169ed5;
}  
  
.button:active {  
	background-image: linear-gradient(#067ed5 0%, #43affe 100%);
	background-color: #43affe;
} 

.label {
	font-weight: bold;
	font-size: 0.8rem;
}


